:root {
  --blue: #3944CA;
 --black: #000000;
 --red: #D5111B;
 --light-red: #ED1C24;
 --skin: #E8A868;
 --light-skin: #F0C8A0;
 --gray: #585858;
 --light-gray: #7F7F7F;
 --brown : #3c3c3c;
 --sp--light-gray: #787878;
 --grey: #6B6B6B;
 --light-grey: #C1C1C1;
 --white-smoke: #DFDFDF;
 --green: #D2C800;
 --dark-green: #D69A00;
 --cyan: #45B7C0;
}

html {
  font-size: 62.5%;
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--blue);
}

@keyframes move {
  0% {
    left: -220%;
  }

  100% {
    left: 320%;
  }
}

.container {
  width: 25rem;
  height: 42rem;
  position: relative;
}

input[type=checkbox] {
  display: none;
}

label {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 236, 255, 1) 0%, rgba(9, 58, 121, 1) 100%);
  -webkit-tap-highlight-color: transparent;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding: 15px 50px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  user-select: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
}

label:hover {
  opacity: 0.8;
  top: 99%;
}

input:checked ~ .lee__sin {
  animation-play-state: paused;
}

input:checked ~ label {
  background: linear-gradient(333deg, rgba(2, 0, 36, 1) 0%, rgba(0, 224, 255, 1) 0%, rgba(9, 19, 121, 1) 100%);
}

.lee__sin {
  position: relative;
  width: 1rem;
  height: 1rem;
  animation: move 10s infinite;
  box-shadow: 0rem 0rem var(--blue),
              1rem 0rem var(--black),
              2rem 0rem var(--black),
              3rem 0rem var(--black), 
              4rem 0rem var(--blue),
              5rem 0rem var(--blue),
              6rem 0rem var(--blue),
              7rem 0rem var(--blue),
              8rem 0rem var(--blue),
              9rem 0rem var(--blue),
              10rem 0rem var(--blue),
              11rem 0rem var(--blue),
              12rem 0rem var(--blue),
              13rem 0rem var(--blue),
              14rem 0rem var(--blue),
              15rem 0rem var(--blue),
              16rem 0rem var(--blue),
              17rem 0rem var(--blue),
              18rem 0rem var(--blue),
              19rem 0rem var(--blue),
              20rem 0rem var(--blue),
              21rem 0rem var(--blue),
              22rem 0rem var(--blue),
              23rem 0rem var(--blue),
              24rem 0rem var(--blue),

              /* row 2 */
              0rem 1rem var(--black),
              1rem 1rem var(--black),
              2rem 1rem var(--blue),
              3rem 1rem var(--black),
              4rem 1rem var(--black),
              5rem 1rem var(--blue),
              6rem 1rem var(--blue),
              7rem 1rem var(--blue),
              8rem 1rem var(--blue),
              9rem 1rem var(--blue),
              10rem 1rem var(--blue),
              11rem 1rem var(--blue),
              12rem 1rem var(--blue),
              13rem 1rem var(--blue),
              14rem 1rem var(--blue),
              15rem 1rem var(--blue),
              16rem 1rem var(--blue),
              17rem 1rem var(--blue),
              18rem 1rem var(--blue),
              19rem 1rem var(--blue),
              20rem 1rem var(--blue),
              21rem 1rem var(--blue),
              22rem 1rem var(--blue),
              23rem 1rem var(--blue),
              24rem 1rem var(--blue),

              /* row 3 */
              0rem 2rem var(--black),
              1rem 2rem var(--black),
              2rem 2rem var(--blue),
              3rem 2rem var(--black),
              4rem 2rem var(--black),
              5rem 2rem var(--black),
              6rem 2rem var(--black),
              7rem 2rem var(--blue),
              8rem 2rem var(--blue),
              9rem 2rem var(--blue),
              10rem 2rem var(--blue),
              11rem 2rem var(--blue),
              12rem 2rem var(--blue),
              13rem 2rem var(--blue),
              14rem 2rem var(--blue),
              15rem 2rem var(--blue),
              16rem 2rem var(--blue),
              17rem 2rem var(--blue),
              18rem 2rem var(--blue),
              19rem 2rem var(--blue),
              20rem 2rem var(--blue),
              21rem 2rem var(--blue),
              22rem 2rem var(--blue),
              23rem 2rem var(--blue),
              24rem 2rem var(--blue),

              /* row 4 */
              0rem 3rem var(--black),
              1rem 3rem var(--black),
              2rem 3rem var(--blue),
              3rem 3rem var(--black),
              4rem 3rem var(--light-gray),
              5rem 3rem var(--light-gray),
              6rem 3rem var(--black),
              7rem 3rem var(--blue),
              8rem 3rem var(--blue),
              9rem 3rem var(--blue),
              10rem 3rem var(--blue),
              11rem 3rem var(--blue),
              12rem 3rem var(--blue),
              13rem 3rem var(--blue),
              14rem 3rem var(--blue),
              15rem 3rem var(--blue),
              16rem 3rem var(--blue),
              17rem 3rem var(--blue),
              18rem 3rem var(--blue),
              19rem 3rem var(--blue),
              20rem 3rem var(--blue),
              21rem 3rem var(--blue),
              22rem 3rem var(--blue),
              23rem 3rem var(--blue),
              24rem 3rem var(--blue),

               /* row 5 */
              0rem 4rem var(--black),
              1rem 4rem var(--black),
              2rem 4rem var(--blue),
              3rem 4rem var(--black),
              4rem 4rem var(--light-gray),
              5rem 4rem var(--skin),
              6rem 4rem var(--skin),
              7rem 4rem var(--skin),
              8rem 4rem var(--skin),
              9rem 4rem var(--skin),
              10rem 4rem var(--skin),
              11rem 4rem var(--skin),
              12rem 4rem var(--skin),
              13rem 4rem var(--blue),
              14rem 4rem var(--blue),
              15rem 4rem var(--blue),
              16rem 4rem var(--blue),
              17rem 4rem var(--blue),
              18rem 4rem var(--blue),
              19rem 4rem var(--blue),
              20rem 4rem var(--blue),
              21rem 4rem var(--blue),
              22rem 4rem var(--blue),
              23rem 4rem var(--blue),
              24rem 4rem var(--blue),

               /* row 6 */
              0rem 5rem var(--black),
              1rem 5rem var(--black),
              2rem 5rem var(--blue),
              3rem 5rem var(--black),
              4rem 5rem var(--skin),
              5rem 5rem var(--light-skin),
              6rem 5rem var(--light-skin),
              7rem 5rem var(--light-skin),
              8rem 5rem var(--light-skin),
              9rem 5rem var(--light-skin),
              10rem 5rem var(--light-skin),
              11rem 5rem var(--light-skin),
              12rem 5rem var(--light-skin),
              13rem 5rem var(--light-skin),
              14rem 5rem var(--skin),
              15rem 5rem var(--blue),
              16rem 5rem var(--blue),
              17rem 5rem var(--blue),
              18rem 5rem var(--blue),
              19rem 5rem var(--blue),
              20rem 5rem var(--blue),
              21rem 5rem var(--blue),
              22rem 5rem var(--blue),
              23rem 5rem var(--blue),
              24rem 5rem var(--blue),

               /* row 7 */
              0rem 6rem var(--black),
              1rem 6rem var(--black),
              2rem 6rem var(--blue),
              3rem 6rem var(--red),
              4rem 6rem var(--red),
              5rem 6rem var(--light-red),
              6rem 6rem var(--light-skin),
              7rem 6rem var(--light-skin),
              8rem 6rem var(--light-skin),
              9rem 6rem var(--light-skin),
              10rem 6rem var(--light-skin),
              11rem 6rem var(--light-skin),
              12rem 6rem var(--light-skin),
              13rem 6rem var(--light-skin),
              14rem 6rem var(--light-skin),
              15rem 6rem var(--skin),
              16rem 6rem var(--blue),
              17rem 6rem var(--blue),
              18rem 6rem var(--blue),
              19rem 6rem var(--blue),
              20rem 6rem var(--blue),
              21rem 6rem var(--blue),
              22rem 6rem var(--blue),
              23rem 6rem var(--blue),
              24rem 6rem var(--blue),

               /* row 8 */
              0rem 7rem var(--black),
              1rem 7rem var(--black),
              2rem 7rem var(--blue),
              3rem 7rem var(--red),
              4rem 7rem var(--red),
              5rem 7rem var(--red),
              6rem 7rem var(--light-red),
              7rem 7rem var(--light-red),
              8rem 7rem var(--light-skin),
              9rem 7rem var(--light-skin),
              10rem 7rem var(--light-skin),
              11rem 7rem var(--light-skin),
              12rem 7rem var(--light-skin),
              13rem 7rem var(--light-skin),
              14rem 7rem var(--light-skin),
              15rem 7rem var(--light-skin),
              16rem 7rem var(--skin),
              17rem 7rem var(--blue),
              18rem 7rem var(--blue),
              19rem 7rem var(--blue),
              20rem 7rem var(--blue),
              21rem 7rem var(--blue),
              22rem 7rem var(--blue),
              23rem 7rem var(--blue),
              24rem 7rem var(--blue),

               /* row 9 */
              0rem 8rem var(--black),
              1rem 8rem var(--black),
              2rem 8rem var(--blue),
              3rem 8rem var(--red),
              4rem 8rem var(--red),
              5rem 8rem var(--red),
              6rem 8rem var(--red),
              7rem 8rem var(--light-red),
              8rem 8rem var(--light-red),
              9rem 8rem var(--light-red),
              10rem 8rem var(--light-skin),
              11rem 8rem var(--light-skin),
              12rem 8rem var(--light-skin),
              13rem 8rem var(--light-skin),
              14rem 8rem var(--light-skin),
              15rem 8rem var(--light-skin),
              16rem 8rem var(--light-red),
              17rem 8rem var(--blue),
              18rem 8rem var(--blue),
              19rem 8rem var(--blue),
              20rem 8rem var(--blue),
              21rem 8rem var(--blue),
              22rem 8rem var(--blue),
              23rem 8rem var(--blue),
              24rem 8rem var(--blue),

               /* row 10 */
              0rem 9rem var(--black),
              1rem 9rem var(--black),
              2rem 9rem var(--blue),
              3rem 9rem var(--red),
              4rem 9rem var(--red),
              5rem 9rem var(--red),
              6rem 9rem var(--red),
              7rem 9rem var(--red),
              8rem 9rem var(--light-red),
              9rem 9rem var(--light-red),
              10rem 9rem var(--light-red),
              11rem 9rem var(--light-red),
              12rem 9rem var(--light-red),
              13rem 9rem var(--light-red),
              14rem 9rem var(--light-red),
              15rem 9rem var(--light-red),
              16rem 9rem var(--light-red),
              17rem 9rem var(--blue),
              18rem 9rem var(--blue),
              19rem 9rem var(--blue),
              20rem 9rem var(--blue),
              21rem 9rem var(--blue),
              22rem 9rem var(--blue),
              23rem 9rem var(--blue),
              24rem 9rem var(--blue),

               /* row 11 */
              0rem 10rem var(--black),
              1rem 10rem var(--black),
              2rem 10rem var(--blue),
              3rem 10rem var(--red),
              4rem 10rem var(--red),
              5rem 10rem var(--red),
              6rem 10rem var(--red),
              7rem 10rem var(--red),
              8rem 10rem var(--light-red),
              9rem 10rem var(--light-red),
              10rem 10rem var(--light-red),
              11rem 10rem var(--light-red),
              12rem 10rem var(--light-red),
              13rem 10rem var(--green),
              14rem 10rem var(--green),
              15rem 10rem var(--light-red),
              16rem 10rem var(--light-red),
              17rem 10rem var(--blue),
              18rem 10rem var(--blue),
              19rem 10rem var(--blue),
              20rem 10rem var(--blue),
              21rem 10rem var(--blue),
              22rem 10rem var(--blue),
              23rem 10rem var(--blue),
              24rem 10rem var(--blue),

               /* row 12 */
              0rem 11rem var(--black),
              1rem 11rem var(--black),
              2rem 11rem var(--blue),
              3rem 11rem var(--red),
              4rem 11rem var(--red),
              5rem 11rem var(--red),
              6rem 11rem var(--red),
              7rem 11rem var(--red),
              8rem 11rem var(--red),
              9rem 11rem var(--light-red),
              10rem 11rem var(--light-red),
              11rem 11rem var(--light-red),
              12rem 11rem var(--light-red),
              13rem 11rem var(--cyan),
              14rem 11rem var(--green),
              15rem 11rem var(--light-red),
              16rem 11rem var(--light-red),
              17rem 11rem var(--blue),
              18rem 11rem var(--blue),
              19rem 11rem var(--blue),
              20rem 11rem var(--blue),
              21rem 11rem var(--blue),
              22rem 11rem var(--blue),
              23rem 11rem var(--blue),
              24rem 11rem var(--blue),

               /* row 13 */
              0rem 12rem var(--black),
              1rem 12rem var(--black),
              2rem 12rem var(--blue),
              3rem 12rem var(--red),
              4rem 12rem var(--red),
              5rem 12rem var(--red),
              6rem 12rem var(--red),
              7rem 12rem var(--red),
              8rem 12rem var(--red),
              9rem 12rem var(--red),
              10rem 12rem var(--light-red),
              11rem 12rem var(--light-red),
              12rem 12rem var(--light-red),
              13rem 12rem var(--light-red),
              14rem 12rem var(--light-red),
              15rem 12rem var(--light-red),
              16rem 12rem var(--light-red),
              17rem 12rem var(--blue),
              18rem 12rem var(--blue),
              19rem 12rem var(--blue),
              20rem 12rem var(--blue),
              21rem 12rem var(--blue),
              22rem 12rem var(--blue),
              23rem 12rem var(--blue),
              24rem 12rem var(--blue),

               /* row 14 */
              0rem 13rem var(--black),
              1rem 13rem var(--black),
              2rem 13rem var(--blue),
              3rem 13rem var(--red),
              4rem 13rem var(--red),
              5rem 13rem var(--red),
              6rem 13rem var(--red),
              7rem 13rem var(--red),
              8rem 13rem var(--red),
              9rem 13rem var(--red),
              10rem 13rem var(--light-skin),
              11rem 13rem var(--light-skin),
              12rem 13rem var(--light-skin),
              13rem 13rem var(--light-skin),
              14rem 13rem var(--light-skin),
              15rem 13rem var(--light-red),
              16rem 13rem var(--light-red),
              17rem 13rem var(--blue),
              18rem 13rem var(--blue),
              19rem 13rem var(--blue),
              20rem 13rem var(--blue),
              21rem 13rem var(--blue),
              22rem 13rem var(--blue),
              23rem 13rem var(--blue),
              24rem 13rem var(--blue),

               /* row 15 */
              0rem 14rem var(--black),
              1rem 14rem var(--black),
              2rem 14rem var(--blue),
              3rem 14rem var(--red),
              4rem 14rem var(--red),
              5rem 14rem var(--red),
              6rem 14rem var(--red),
              7rem 14rem var(--red),
              8rem 14rem var(--red),
              9rem 14rem var(--red),
              10rem 14rem var(--light-skin),
              11rem 14rem var(--light-skin),
              12rem 14rem var(--light-skin),
              13rem 14rem var(--light-skin),
              14rem 14rem var(--light-skin),
              15rem 14rem var(--light-skin),
              16rem 14rem var(--skin),
              17rem 14rem var(--blue),
              18rem 14rem var(--blue),
              19rem 14rem var(--blue),
              20rem 14rem var(--blue),
              21rem 14rem var(--blue),
              22rem 14rem var(--blue),
              23rem 14rem var(--blue),
              24rem 14rem var(--blue),

               /* row 16 */
              0rem 15rem var(--black),
              1rem 15rem var(--black),
              2rem 15rem var(--blue),
              3rem 15rem var(--blue),
              4rem 15rem var(--red),
              5rem 15rem var(--red),
              6rem 15rem var(--light-skin),
              7rem 15rem var(--light-skin),
              8rem 15rem var(--light-skin),
              9rem 15rem var(--light-skin),
              10rem 15rem var(--light-skin),
              11rem 15rem var(--black),
              12rem 15rem var(--black),
              13rem 15rem var(--black),
              14rem 15rem var(--black),
              15rem 15rem var(--light-skin),
              16rem 15rem var(--skin),
              17rem 15rem var(--blue),
              18rem 15rem var(--blue),
              19rem 15rem var(--blue),
              20rem 15rem var(--blue),
              21rem 15rem var(--blue),
              22rem 15rem var(--blue),
              23rem 15rem var(--blue),
              24rem 15rem var(--blue),

               /* row 17 */
              0rem 16rem var(--blue),
              1rem 16rem var(--black),
              2rem 16rem var(--black),
              3rem 16rem var(--blue),
              4rem 16rem var(--blue),
              5rem 16rem var(--blue),
              6rem 16rem var(--skin),
              7rem 16rem var(--light-skin),
              8rem 16rem var(--light-skin),
              9rem 16rem var(--light-skin),
              10rem 16rem var(--light-skin),
              11rem 16rem var(--black),
              12rem 16rem var(--light-skin),
              13rem 16rem var(--light-skin),
              14rem 16rem var(--black),
              15rem 16rem var(--skin),
              16rem 16rem var(--blue),
              17rem 16rem var(--blue),
              18rem 16rem var(--blue),
              19rem 16rem var(--blue),
              20rem 16rem var(--blue),
              21rem 16rem var(--blue),
              22rem 16rem var(--blue),
              23rem 16rem var(--blue),
              24rem 16rem var(--blue),

               /* row 18 */
              0rem 17rem var(--blue),
              1rem 17rem var(--blue),
              2rem 17rem var(--blue),
              3rem 17rem var(--black),
              4rem 17rem var(--black),
              5rem 17rem var(--blue),
              6rem 17rem var(--blue),
              7rem 17rem var(--skin),
              8rem 17rem var(--light-skin),
              9rem 17rem var(--light-skin),
              10rem 17rem var(--light-skin),
              11rem 17rem var(--black),
              12rem 17rem var(--light-skin),
              13rem 17rem var(--light-skin),
              14rem 17rem var(--black),
              15rem 17rem var(--blue),
              16rem 17rem var(--blue),
              17rem 17rem var(--blue),
              18rem 17rem var(--blue),
              19rem 17rem var(--blue),
              20rem 17rem var(--blue),
              21rem 17rem var(--blue),
              22rem 17rem var(--blue),
              23rem 17rem var(--blue),
              24rem 17rem var(--blue),

               /* row 19 */
              0rem 18rem var(--blue),
              1rem 18rem var(--blue),
              2rem 18rem var(--blue),
              3rem 18rem var(--blue),
              4rem 18rem var(--blue),
              5rem 18rem var(--light-red),
              6rem 18rem var(--light-red),
              7rem 18rem var(--light-skin),
              8rem 18rem var(--skin),
              9rem 18rem var(--skin),
              10rem 18rem var(--skin),
              11rem 18rem var(--skin),
              12rem 18rem var(--skin),
              13rem 18rem var(--skin),
              14rem 18rem var(--light-skin),
              15rem 18rem var(--light-red),
              16rem 18rem var(--light-red),
              17rem 18rem var(--light-red),
              18rem 18rem var(--light-red),
              19rem 18rem var(--light-red),
              20rem 18rem var(--light-red),
              21rem 18rem var(--light-red),
              22rem 18rem var(--light-red),
              23rem 18rem var(--light-red),
              24rem 18rem var(--light-red),

               /* row 20 */
              0rem 19rem var(--blue),
              1rem 19rem var(--blue),
              2rem 19rem var(--blue),
              3rem 19rem var(--blue),
              4rem 19rem var(--light-red),
              5rem 19rem var(--light-skin),
              6rem 19rem var(--light-skin),
              7rem 19rem var(--light-skin),
              8rem 19rem var(--light-skin),
              9rem 19rem var(--light-skin),
              10rem 19rem var(--light-skin),
              11rem 19rem var(--light-skin),
              12rem 19rem var(--light-skin),
              13rem 19rem var(--light-skin),
              14rem 19rem var(--light-skin),
              15rem 19rem var(--light-skin),
              16rem 19rem var(--light-skin),
              17rem 19rem var(--light-skin),
              18rem 19rem var(--light-skin),
              19rem 19rem var(--light-skin),
              20rem 19rem var(--light-skin),
              21rem 19rem var(--light-skin),
              22rem 19rem var(--light-skin),
              23rem 19rem var(--light-skin),
              24rem 19rem var(--light-red),

               /* row 21 */
              0rem 20rem var(--blue),
              1rem 20rem var(--blue),
              2rem 20rem var(--blue),
              3rem 20rem var(--light-red),
              4rem 20rem var(--black),
              5rem 20rem var(--light-skin),
              6rem 20rem var(--light-skin),
              7rem 20rem var(--light-skin),
              8rem 20rem var(--light-skin),
              9rem 20rem var(--light-skin),
              10rem 20rem var(--light-skin),
              11rem 20rem var(--light-skin),
              12rem 20rem var(--light-skin),
              13rem 20rem var(--light-skin),
              14rem 20rem var(--light-skin),
              15rem 20rem var(--light-skin),
              16rem 20rem var(--light-skin),
              17rem 20rem var(--light-skin),
              18rem 20rem var(--light-skin),
              19rem 20rem var(--light-skin),
              20rem 20rem var(--light-skin),
              21rem 20rem var(--light-red),
              22rem 20rem var(--light-red),
              23rem 20rem var(--light-red),
              24rem 20rem var(--blue),

               /* row 22 */
              0rem 21rem var(--blue),
              1rem 21rem var(--blue),
              2rem 21rem var(--blue),
              3rem 21rem var(--light-red),
              4rem 21rem var(--light-skin),
              5rem 21rem var(--black),
              6rem 21rem var(--light-red),
              7rem 21rem var(--light-skin),
              8rem 21rem var(--light-skin),
              9rem 21rem var(--light-skin),
              10rem 21rem var(--light-skin),
              11rem 21rem var(--light-skin),
              12rem 21rem var(--light-skin),
              13rem 21rem var(--light-skin),
              14rem 21rem var(--light-skin),
              15rem 21rem var(--light-skin),
              16rem 21rem var(--light-red),
              17rem 21rem var(--light-red),
              18rem 21rem var(--light-red),
              19rem 21rem var(--light-red),
              20rem 21rem var(--light-red),
              21rem 21rem var(--blue),
              22rem 21rem var(--blue),
              23rem 21rem var(--blue),
              24rem 21rem var(--blue),

               /* row 23 */
              0rem 22rem var(--blue),
              1rem 22rem var(--blue),
              2rem 22rem var(--light-red),
              3rem 22rem var(--light-skin),
              4rem 22rem var(--black),
              5rem 22rem var(--light-red),
              6rem 22rem var(--light-skin),
              7rem 22rem var(--light-skin),
              8rem 22rem var(--light-skin),
              9rem 22rem var(--black),
              10rem 22rem var(--light-skin),
              11rem 22rem var(--light-skin),
              12rem 22rem var(--light-skin),
              13rem 22rem var(--skin),
              14rem 22rem var(--light-skin),
              15rem 22rem var(--light-red),
              16rem 22rem var(--blue),
              17rem 22rem var(--blue),
              18rem 22rem var(--blue),
              19rem 22rem var(--blue),
              20rem 22rem var(--blue),
              21rem 22rem var(--blue),
              22rem 22rem var(--blue),
              23rem 22rem var(--blue),
              24rem 22rem var(--blue),

               /* row 24 */
              0rem 23rem var(--blue),
              1rem 23rem var(--blue),
              2rem 23rem var(--light-red),
              3rem 23rem var(--black),
              4rem 23rem var(--light-skin),
              5rem 23rem var(--light-skin),
              6rem 23rem var(--light-red),
              7rem 23rem var(--light-skin),
              8rem 23rem var(--black),
              9rem 23rem var(--light-skin),
              10rem 23rem var(--skin),
              11rem 23rem var(--skin),
              12rem 23rem var(--skin),
              13rem 23rem var(--light-skin),
              14rem 23rem var(--skin),
              15rem 23rem var(--light-red),
              16rem 23rem var(--blue),
              17rem 23rem var(--blue),
              18rem 23rem var(--blue),
              19rem 23rem var(--blue),
              20rem 23rem var(--blue),
              21rem 23rem var(--blue),
              22rem 23rem var(--blue),
              23rem 23rem var(--blue),
              24rem 23rem var(--blue),

               /* row 25 */
              0rem 24rem var(--blue),
              1rem 24rem var(--blue),
              2rem 24rem var(--blue),
              3rem 24rem var(--light-red),
              4rem 24rem var(--light-skin),
              5rem 24rem var(--light-skin),
              6rem 24rem var(--light-skin),
              7rem 24rem var(--light-red),
              8rem 24rem var(--light-skin),
              9rem 24rem var(--black),
              10rem 24rem var(--light-skin),
              11rem 24rem var(--light-skin),
              12rem 24rem var(--light-skin),
              13rem 24rem var(--light-skin),
              14rem 24rem var(--light-skin),
              15rem 24rem var(--grey),
              16rem 24rem var(--grey),
              17rem 24rem var(--grey),
              18rem 24rem var(--grey),
              19rem 24rem var(--blue),
              20rem 24rem var(--blue),
              21rem 24rem var(--blue),
              22rem 24rem var(--blue),
              23rem 24rem var(--blue),
              24rem 24rem var(--blue),

               /* row 26 */
              0rem 25rem var(--blue),
              1rem 25rem var(--blue),
              2rem 25rem var(--blue),
              3rem 25rem var(--blue),
              4rem 25rem var(--light-red),
              5rem 25rem var(--light-skin),
              6rem 25rem var(--light-skin),
              7rem 25rem var(--light-skin),
              8rem 25rem var(--light-red),
              9rem 25rem var(--light-skin),
              10rem 25rem var(--black),
              11rem 25rem var(--light-skin),
              12rem 25rem var(--light-skin),
              13rem 25rem var(--light-skin),
              14rem 25rem var(--light-skin),
              15rem 25rem var(--light-gray),
              16rem 25rem var(--light-gray),
              17rem 25rem var(--light-gray),
              18rem 25rem var(--light-gray),
              19rem 25rem var(--gray),
              20rem 25rem var(--blue),
              21rem 25rem var(--blue),
              22rem 25rem var(--blue),
              23rem 25rem var(--blue),
              24rem 25rem var(--blue),

               /* row 27 */
              0rem 26rem var(--blue),
              1rem 26rem var(--blue),
              2rem 26rem var(--blue),
              3rem 26rem var(--blue),
              4rem 26rem var(--blue),
              5rem 26rem var(--light-red),
              6rem 26rem var(--light-skin),
              7rem 26rem var(--light-skin),
              8rem 26rem var(--light-red),
              9rem 26rem var(--light-grey),
              10rem 26rem var(--light-grey),
              11rem 26rem var(--white-smoke),
              12rem 26rem var(--white-smoke),
              13rem 26rem var(--white-smoke),
              14rem 26rem var(--light-gray),
              15rem 26rem var(--light-gray),
              16rem 26rem var(--light-gray),
              17rem 26rem var(--light-gray),
              18rem 26rem var(--light-gray),
              19rem 26rem var(--gray),
              20rem 26rem var(--blue),
              21rem 26rem var(--blue),
              22rem 26rem var(--blue),
              23rem 26rem var(--blue),
              24rem 26rem var(--blue),

               /* row 28 */
              0rem 27rem var(--blue),
              1rem 27rem var(--blue),
              2rem 27rem var(--blue),
              3rem 27rem var(--blue),
              4rem 27rem var(--blue),
              5rem 27rem var(--sp--light-gray),
              6rem 27rem var(--light-red),
              7rem 27rem var(--light-red),
              8rem 27rem var(--light-grey),
              9rem 27rem var(--light-grey),
              10rem 27rem var(--light-grey),
              11rem 27rem var(--light-grey),
              12rem 27rem var(--white-smoke),
              13rem 27rem var(--white-smoke),
              14rem 27rem var(--light-gray),
              15rem 27rem var(--gray),
              16rem 27rem var(--light-gray),
              17rem 27rem var(--light-gray),
              18rem 27rem var(--light-gray),
              19rem 27rem var(--gray),
              20rem 27rem var(--blue),
              21rem 27rem var(--blue),
              22rem 27rem var(--blue),
              23rem 27rem var(--blue),
              24rem 27rem var(--blue),

               /* row 29 */
              0rem 28rem var(--blue),
              1rem 28rem var(--blue),
              2rem 28rem var(--blue),
              3rem 28rem var(--blue),
              4rem 28rem var(--blue),
              5rem 28rem var(--sp--light-gray),
              6rem 28rem var(--light-gray),
              7rem 28rem var(--light-gray),
              8rem 28rem var(--gray),
              9rem 28rem var(--gray),
              10rem 28rem var(--red),
              11rem 28rem var(--red),
              12rem 28rem var(--red),
              13rem 28rem var(--light-red),
              14rem 28rem var(--light-red),
              15rem 28rem var(--gray),
              16rem 28rem var(--gray),
              17rem 28rem var(--light-gray),
              18rem 28rem var(--light-gray),
              19rem 28rem var(--gray),
              20rem 28rem var(--blue),
              21rem 28rem var(--blue),
              22rem 28rem var(--blue),
              23rem 28rem var(--blue),
              24rem 28rem var(--blue),

               /* row 30 */
              0rem 29rem var(--blue),
              1rem 29rem var(--blue),
              2rem 29rem var(--blue),
              3rem 29rem var(--blue),
              4rem 29rem var(--blue),
              5rem 29rem var(--sp--light-gray),
              6rem 29rem var(--light-gray),
              7rem 29rem var(--light-gray),
              8rem 29rem var(--gray),
              9rem 29rem var(--gray),
              10rem 29rem var(--brown),
              11rem 29rem var(--red),
              12rem 29rem var(--red),
              13rem 29rem var(--light-red),
              14rem 29rem var(--gray),
              15rem 29rem var(--gray),
              16rem 29rem var(--light-grey),
              17rem 29rem var(--red),
              18rem 29rem var(--white-smoke),
              19rem 29rem var(--light-red),
              20rem 29rem var(--blue),
              21rem 29rem var(--blue),
              22rem 29rem var(--blue),
              23rem 29rem var(--blue),
              24rem 29rem var(--blue),

               /* row 31 */
              0rem 30rem var(--blue),
              1rem 30rem var(--blue),
              2rem 30rem var(--blue),
              3rem 30rem var(--blue),
              4rem 30rem var(--blue),
              5rem 30rem var(--sp--light-gray),
              6rem 30rem var(--light-gray),
              7rem 30rem var(--light-gray),
              8rem 30rem var(--light-gray),
              9rem 30rem var(--gray),
              10rem 30rem var(--brown),
              11rem 30rem var(--brown),
              12rem 30rem var(--red),
              13rem 30rem var(--light-red),
              14rem 30rem var(--gray),
              15rem 30rem var(--blue),
              16rem 30rem var(--light-grey),
              17rem 30rem var(--light-grey),
              18rem 30rem var(--light-red),
              19rem 30rem var(--white-smoke),
              20rem 30rem var(--blue),
              21rem 30rem var(--blue),
              22rem 30rem var(--blue),
              23rem 30rem var(--blue),
              24rem 30rem var(--blue),

               /* row 32 */
              0rem 31rem var(--blue),
              1rem 31rem var(--blue),
              2rem 31rem var(--blue),
              3rem 31rem var(--blue),
              4rem 31rem var(--blue),
              5rem 31rem var(--blue),
              6rem 31rem var(--sp--light-gray),
              7rem 31rem var(--light-gray),
              8rem 31rem var(--light-gray),
              9rem 31rem var(--gray),
              10rem 31rem var(--brown),
              11rem 31rem var(--brown),
              12rem 31rem var(--dark-green),
              13rem 31rem var(--green),
              14rem 31rem var(--blue),
              15rem 31rem var(--blue),
              16rem 31rem var(--blue),
              17rem 31rem var(--red),
              18rem 31rem var(--white-smoke),
              19rem 31rem var(--blue),
              20rem 31rem var(--blue),
              21rem 31rem var(--blue),
              22rem 31rem var(--blue),
              23rem 31rem var(--blue),
              24rem 31rem var(--blue),

               /* row 33 */
              0rem 32rem var(--blue),
              1rem 32rem var(--blue),
              2rem 32rem var(--blue),
              3rem 32rem var(--blue),
              4rem 32rem var(--blue),
              5rem 32rem var(--blue),
              6rem 32rem var(--sp--light-gray),
              7rem 32rem var(--light-gray),
              8rem 32rem var(--light-gray),
              9rem 32rem var(--gray),
              10rem 32rem var(--brown),
              11rem 32rem var(--brown),
              12rem 32rem var(--red),
              13rem 32rem var(--green),
              14rem 32rem var(--blue),
              15rem 32rem var(--blue),
              16rem 32rem var(--blue),
              17rem 32rem var(--light-grey),
              18rem 32rem var(--light-red),
              19rem 32rem var(--blue),
              20rem 32rem var(--blue),
              21rem 32rem var(--blue),
              22rem 32rem var(--blue),
              23rem 32rem var(--blue),
              24rem 32rem var(--blue),

               /* row 34 */
              0rem 33rem var(--blue),
              1rem 33rem var(--blue),
              2rem 33rem var(--blue),
              3rem 33rem var(--blue),
              4rem 33rem var(--blue),
              5rem 33rem var(--blue),
              6rem 33rem var(--sp--light-gray),
              7rem 33rem var(--light-gray),
              8rem 33rem var(--light-gray),
              9rem 33rem var(--gray),
              10rem 33rem var(--brown),
              11rem 33rem var(--blue),
              12rem 33rem var(--red),
              13rem 33rem var(--light-red),
              14rem 33rem var(--blue),
              15rem 33rem var(--blue),
              16rem 33rem var(--blue),
              17rem 33rem var(--black),
              18rem 33rem var(--black),
              19rem 33rem var(--black),
              20rem 33rem var(--blue),
              21rem 33rem var(--blue),
              22rem 33rem var(--blue),
              23rem 33rem var(--blue),
              24rem 33rem var(--blue),

               /* row 35 */
              0rem 34rem var(--blue),
              1rem 34rem var(--blue),
              2rem 34rem var(--blue),
              3rem 34rem var(--blue),
              4rem 34rem var(--blue),
              5rem 34rem var(--blue),
              6rem 34rem var(--blue),
              7rem 34rem var(--sp--light-gray),
              8rem 34rem var(--light-gray),
              9rem 34rem var(--gray),
              10rem 34rem var(--brown),
              11rem 34rem var(--blue),
              12rem 34rem var(--red),
              13rem 34rem var(--light-red),
              14rem 34rem var(--blue),
              15rem 34rem var(--blue),
              16rem 34rem var(--blue),
              17rem 34rem var(--black),
              18rem 34rem var(--black),
              19rem 34rem var(--black),
              20rem 34rem var(--black),
              21rem 34rem var(--blue),
              22rem 34rem var(--blue),
              23rem 34rem var(--blue),
              24rem 34rem var(--blue),

               /* row 36 */
              0rem 35rem var(--blue),
              1rem 35rem var(--blue),
              2rem 35rem var(--blue),
              3rem 35rem var(--blue),
              4rem 35rem var(--blue),
              5rem 35rem var(--blue),
              6rem 35rem var(--blue),
              7rem 35rem var(--red),
              8rem 35rem var(--white-smoke),
              9rem 35rem var(--white-smoke),
              10rem 35rem var(--white-smoke),
              11rem 35rem var(--blue),
              12rem 35rem var(--dark-green),
              13rem 35rem var(--green),
              14rem 35rem var(--blue),
              15rem 35rem var(--blue),
              16rem 35rem var(--blue),
              17rem 35rem var(--blue),
              18rem 35rem var(--blue),
              19rem 35rem var(--blue),
              20rem 35rem var(--blue),
              21rem 35rem var(--blue),
              22rem 35rem var(--blue),
              23rem 35rem var(--blue),
              24rem 35rem var(--blue),

               /* row 37 */
              0rem 36rem var(--blue),
              1rem 36rem var(--blue),
              2rem 36rem var(--blue),
              3rem 36rem var(--blue),
              4rem 36rem var(--blue),
              5rem 36rem var(--blue),
              6rem 36rem var(--blue),
              7rem 36rem var(--light-grey),
              8rem 36rem var(--light-red),
              9rem 36rem var(--white-smoke),
              10rem 36rem var(--blue),
              11rem 36rem var(--blue),
              12rem 36rem var(--red),  
              13rem 36rem var(--green),
              14rem 36rem var(--blue),
              15rem 36rem var(--blue),
              16rem 36rem var(--blue),
              17rem 36rem var(--blue),
              18rem 36rem var(--blue),
              19rem 36rem var(--blue),
              20rem 36rem var(--blue),
              21rem 36rem var(--blue),
              22rem 36rem var(--blue),
              23rem 36rem var(--blue),
              24rem 36rem var(--blue),

               /* row 38 */
              0rem 37rem var(--blue),
              1rem 37rem var(--blue),
              2rem 37rem var(--blue),
              3rem 37rem var(--blue),
              4rem 37rem var(--blue),
              5rem 37rem var(--blue),
              6rem 37rem var(--blue),
              7rem 37rem var(--blue),
              8rem 37rem var(--light-grey),
              9rem 37rem var(--light-red),
              10rem 37rem var(--blue),
              11rem 37rem var(--blue),
              12rem 37rem var(--red),
              13rem 37rem var(--light-red),
              14rem 37rem var(--blue),
              15rem 37rem var(--blue),
              16rem 37rem var(--blue),
              17rem 37rem var(--blue),
              18rem 37rem var(--blue),
              19rem 37rem var(--blue),
              20rem 37rem var(--blue),
              21rem 37rem var(--blue),
              22rem 37rem var(--blue),
              23rem 37rem var(--blue),
              24rem 37rem var(--blue),

               /* row 39 */
              0rem 38rem var(--blue),
              1rem 38rem var(--blue),
              2rem 38rem var(--blue),
              3rem 38rem var(--blue),
              4rem 38rem var(--blue),
              5rem 38rem var(--blue),
              6rem 38rem var(--blue),
              7rem 38rem var(--blue),
              8rem 38rem var(--red),
              9rem 38rem var(--white-smoke),
              10rem 38rem var(--blue),
              11rem 38rem var(--blue),
              12rem 38rem var(--blue),
              13rem 38rem var(--blue),
              14rem 38rem var(--blue),
              15rem 38rem var(--blue),
              16rem 38rem var(--blue),
              17rem 38rem var(--blue),
              18rem 38rem var(--blue),
              19rem 38rem var(--blue),
              20rem 38rem var(--blue),
              21rem 38rem var(--blue),
              22rem 38rem var(--blue),
              23rem 38rem var(--blue),
              24rem 38rem var(--blue),

               /* row 40 */
              0rem 39rem var(--blue),
              1rem 39rem var(--blue),
              2rem 39rem var(--blue),
              3rem 39rem var(--blue),
              4rem 39rem var(--blue),
              5rem 39rem var(--blue),
              6rem 39rem var(--blue),
              7rem 39rem var(--blue),
              8rem 39rem var(--light-grey),
              9rem 39rem var(--white-smoke),
              10rem 39rem var(--blue),
              11rem 39rem var(--blue),
              12rem 39rem var(--blue),
              13rem 39rem var(--blue),
              14rem 39rem var(--blue),
              15rem 39rem var(--blue),
              16rem 39rem var(--blue),
              17rem 39rem var(--blue),
              18rem 39rem var(--blue),
              19rem 39rem var(--blue),
              20rem 39rem var(--blue),
              21rem 39rem var(--blue),
              22rem 39rem var(--blue),
              23rem 39rem var(--blue),
              24rem 39rem var(--blue),   

               /* row 41 */
              0rem 40rem var(--blue),
              1rem 40rem var(--blue),
              2rem 40rem var(--blue),
              3rem 40rem var(--blue),
              4rem 40rem var(--blue),
              5rem 40rem var(--blue),
              6rem 40rem var(--blue),
              7rem 40rem var(--blue),
              8rem 40rem var(--black),
              9rem 40rem var(--black),
              10rem 40rem var(--black),
              11rem 40rem var(--blue),
              12rem 40rem var(--blue),
              13rem 40rem var(--blue),
              14rem 40rem var(--blue),
              15rem 40rem var(--blue),
              16rem 40rem var(--blue),
              17rem 40rem var(--blue),
              18rem 40rem var(--blue),
              19rem 40rem var(--blue),
              20rem 40rem var(--blue),
              21rem 40rem var(--blue),
              22rem 40rem var(--blue),
              23rem 40rem var(--blue),
              24rem 40rem var(--blue),       

               /* row 42 */
              0rem 41rem var(--blue),
              1rem 41rem var(--blue),
              2rem 41rem var(--blue),
              3rem 41rem var(--blue),
              4rem 41rem var(--blue),
              5rem 41rem var(--blue),
              6rem 41rem var(--blue),
              7rem 41rem var(--blue),
              8rem 41rem var(--black),
              9rem 41rem var(--black),
              10rem 41rem var(--black),
              11rem 41rem var(--black),
              12rem 41rem var(--blue),
              13rem 41rem var(--blue),
              14rem 41rem var(--blue),
              15rem 41rem var(--blue),
              16rem 41rem var(--blue),
              17rem 41rem var(--blue),
              18rem 41rem var(--blue),
              19rem 41rem var(--blue),
              20rem 41rem var(--blue),
              21rem 41rem var(--blue),
              22rem 41rem var(--blue),
              23rem 41rem var(--blue),
              24rem 41rem var(--blue);
}

@media (max-width: 740px) {
  @keyframes move {
    0% {
      left: -20%;
    }

    100% {
      left: 100%;
    }
  }

  .lee__sin {
    animation-duration: 4s;
  }
}